/* css reset */
body {
    
    font-family: 'Baloo Bhai', cursive;
    font-size: smaller;
    color: rgb(246, 246, 246);
    margin: 0px;
    padding: 0px;
    background: url('../images/bg-man.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 25%;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 14px;
}

.left img {
    display: block;
    margin: 0 auto;
    width: 50px;
    filter: invert(100%);
}

.left div {
    line-height: 20px;
    font-size: 18px;
    /* color: rgb(59, 255, 131); */
    /* text-align: center; */
}

.mid {
    display: block;
    width: 45%;
    margin: 25px auto;
    /* border: 2px solid green; */
    text-align: center;
}

.right {
    position: absolute;
    right: 34px;
    top: 28px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container, .abt-container , .cal-container {
    border: 2px solid rgb(240, 240, 240);
    margin: 5% 10%;
    padding: 3%;
    width: 33%;
    border-radius: 28px;
}

.form-group input , .form-control, textarea{
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 75%;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
    color: grey;
}

 .form-control:focus{
color: gray;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}

.con-container{
    position: relative;
    margin: 5% auto;
    padding: 3% 0%;
    text-align: center;
    border: 2px solid rgb(240, 240, 240);
    width: 33%;
    border-radius: 28px;
}

.cal-container p, input {
margin: 2% 0%;
padding: 0%;
}

@media (max-width: 480px) {

    .body{
        font-size: x-small;
    }

    .container  , .abt-container, .cal-container, .con-container{
        width: 80%;
    }
  }